<html>
	<head>
		<title>Chris's Blog</title>
	</head>
	<body>
		<div>
			<h1><a href="">Chris's Blog</a></h1>
		</div>
		
		<div>
			<p>Published 16.06.16, 18:13</p>
			<h2><a href=''>Spongebob Theme Tune Lyrics</a></h2>
			<p>We all have to take the time to appreciate<br>how great Spongebob is so here are the<br>lyrics to the theme tune!<br><br>
				Are you ready kids? "Aye Aye Captain"<br>
				I can't hear you! "AYE AYE CAPTAIN"<br>
				Oohh...<br>
				Who lives in a pineapple under the sea?<br>
				"Spongebob Squarepants"<br>
				Absorbant and yellow and porous is he!<br>
				"Spongebob Squarepants"<br>
				If nautical nonsense be something you wish<br>
				"Spongebob Squarepants"<br>
				Then drop on the deck and flop like a fish!<br>
				"Spongebob Squarepants"<br>
				READY?<br>
				Spongebob Squarepants!<br>
				Spongebob Squarepants<br>
				Spongebob Squarepants!<br>

				SPONGEBOB. SQUAREPANTS!<br>
		</div>
		
	</body>
</html>